# Dependencies
node_modules/

# Build output
dist/

# Env
.env
.env.local
.env.*.local

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
